{% extends "layout.html" %}
{% block body %}

<div class="cont">
    Welcome,<span id="blink">|</span>
</div>

<div class="uinput">
    <form method="POST" action="/predict" enctype="multipart/form-data">
        <input type="file" accept="audio/wav" name="fileup">
        <label for="fileup">Select an Audio file</label>
        <input type="reset" value="Reset">
        <input type="submit" value="Submit">
    </form>
</div>

<div class="audio">
    <audio controls>
        <source src="{{ url_for('play_audio') }}" type="audio/wav">
    </audio>
</div>

<div class="output">
    <br>{{ pred }}<br>
    <!-- pred -->
</div>
<div class="pic">
    <div class="lbl">
        <h2>WaveForm 01</h2>
        <img src="{{ url_for('display_waveform') }}" alt="waveform" srcset="">
    </div>
    <div class="lbl">
        <h2>WaveForm 02</h2>
        <img src="{{ url_for('display_mfcc') }}" alt="mfcc" srcset="">
    </div>
</div>
<script type="text/javascript">
    var blink =
        document.getElementById('blink');

    setInterval(function () {
        blink.style.opacity =
            (blink.style.opacity == 0 ? 1 : 0);
    }, 500); 
</script>
</body>

</html>
{% endblock %}